---
import ChapterLayout from "../layouts/ChapterLayout.astro";
import Backlink from "../components/Backlink.astro";
---

<ChapterLayout title="Employee Profile">
  <div data-voice="orientation">
    <Backlink />
    <p>
      Lumon Industries prides itself on hiring practices that are designed to
      accommodate all who seek to walk through our halls.
    </p>
    <p>
      To ensure we succeed in that endeavor, our <strong
        >Human Resources Psychiatric Evaluators</strong
      > (HRPE&#x27;s) have come up with a useful tool for categorizing employees based
      on the precise ratio of <strong>The Four Tempers</strong> that reside within
      a soul. We call this tool the <strong
        >Lumon Industries Employee Profile</strong
      > (LIEP) - a document that helps provide answers to the question &quot;Who are
      you?&quot;.
    </p>
    <p><u>Are YOU ready to take the LIEP?</u></p>
    <p>
      In order to understand the document, first you must understand <strong
        >The Four Tempers</strong
      > and Lumon&#x27;s <strong>Core Principles</strong> - the engine behind our
      assessment process.
    </p>
    <h2>The Four Tempers</h2>
    <h3><strong><u>FROLIC</u></strong> (FC)</h3>
    <p>The disposition of hedonism and foolishness.</p>
    <h3><strong><u>MALICE</u></strong> (MA)</h3>
    <p>The disposition of evil desire and ill will.</p>
    <h3><strong><u>WOE</u></strong> (WO)</h3>
    <p>The disposition of distress and sorrow.</p>
    <h3><strong><u>DREAD</u></strong> (DR)</h3>
    <p>The disposition of fear and apprehension.</p>
    <hr />
    <p>
      While it may sound from this reading of <strong>The Four Tempers</strong> as
      if Lumon believes all of humanity is rotten, fear not! Lumon is in the business
      of self-improvement. It is only by understanding our nature that we can overcome
      it, so that is what we do. We tame our tempers in order to better serve a higher
      purpose: industry.
    </p>
    <p>
      The primary way we do this is through the practice of our <strong
        >Core Principles</strong
      >. By internalizing and actively practicing the <strong
        >Lumon Core Principles</strong
      >, all of our tempers can be tamed and put to use.
    </p>
    <p>
      The <strong>Core Principles</strong> are as follows.
    </p>
    <h2>The Core Principles</h2>
    <h3><strong><u>VISION</u></strong></h3>
    <p><em>The practice of insight and foresight!</em></p>
    <p>
      Those who practice vision practice seeing both the bigger picture and the
      intentions of others.
    </p>
    <blockquote>
      <p>
        It is through <strong>VISION</strong> that <strong>WOE</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>WOE</strong> spend their time regretting
          the past and considering the worst case scenarios that the future might
          bring. <strong>VISION</strong> makes use of that training, repurposing that
          energy of introspection and foresight which was previously spent negatively.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>VERVE</u></strong></h3>
    <p><em>The practice of bold enthusiasm!</em></p>
    <p>
      Those who practice <strong>VERVE</strong> practice putting a forceful energy
      into their work - turning ideas into vigorous action.
    </p>
    <blockquote>
      <p>
        It is through <strong>VERVE</strong> that <strong>MALICE</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>MALICE</strong> spend their time developing
          a passionate fire in their hearts which fuels their evil works and deeds.
          To practice <strong>VERVE</strong> is to harness that fire for good.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>WIT</u></strong></h3>
    <p><em>The practice of quick thinking!</em></p>
    <p>
      Those who practice <strong>WIT</strong> practice sharp decision making, even
      when the stakes are high.
    </p>
    <blockquote>
      <p>
        It is through <strong>WIT</strong> that <strong>DREAD</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>DREAD</strong> spend their time learning
          how to stay safe. The faster they can respond to their surroundings, the
          safer they become. This practice gives birth to <strong>WIT</strong>,
          which for those who still give power to their fear, is wasted on
          ghosts and apparitions. To practice <strong>WIT</strong> in spite of fear,
          is to harness that quick thinking for the righteous cause of something real:
          industry.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>CHEER</u></strong></h3>
    <p><em>The practice of positivity and optimism!</em></p>
    <p>
      Those who practice <strong>CHEER</strong> practice bringing positive energy
      and morale to those around them, despite the circumstances.
    </p>
    <blockquote>
      <p>
        It is through <strong>CHEER</strong> that <strong>FROLIC</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>FROLIC</strong> spend their time throwing
          around half-hearted good will to all those who would accept it. Poorly directed
          <strong>CHEER</strong> is folly - spurring on good and evil men alike. <strong
            >CHEER</strong
          > practiced with purpose and discernment turns a fool into a catalyst for
          good!</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>HUMILITY</u></strong></h3>
    <p><em>The practice of modesty!</em></p>
    <p>
      Those who practice <strong>HUMILITY</strong> practice self-awareness that is
      free of ego, prioritizing the bigger picture over self interest.
    </p>
    <blockquote>
      <p>
        It is through <strong>HUMILITY</strong> that <strong>WOE</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>WOE</strong> spend their time experiencing
          deep inward sorrow. This sorrow often leads to a degraded self-perception,
          as shame and guilt whittle away at their self-worth.</sub
        >
      </p>
      <p>
        <sub
          >Thinking less of yourself is not the same thing as thinking of
          yourself less. Practicing the latter is called <strong
            >HUMILITY</strong
          >.</sub
        >
      </p>
      <p>
        <sub
          >Those predisposed to <strong>WOE</strong> are keenly fit to recover their
          self-worth, as they know how it was lost in the first place. Then, they
          learn to hold it with a loose grip. It is through this practice that freedom
          from pride is gained, self-worth is confirmed, and the greater good is put
          to the forefront of ones mind, benefiting all.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>BENEVOLENCE</u></strong></h3>
    <p><em>The practice of kindness!</em></p>
    <p>
      Those who practice <strong>BENEVOLENCE</strong> practice the noble work of building
      bridges between people, connecting with and supporting those around themselves.
      It is only when people come together and work as one, that Lumon Industries
      can achieve the impossible!
    </p>
    <blockquote>
      <p>
        It is through <strong>BENEVOLENCE</strong> that <strong>WOE</strong> may be
        tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>WOE</strong> spend their time keenly
          acquainted with misfortune. Time spent with misfortune allows them to see
          its signs in others, which leads to the birth of empathy for those who are
          not too distracted by their own misfortune still.</sub
        >
      </p>
      <p>
        <sub
          >Practicing <strong>BENEVOLENCE</strong> rewires the inward-focused selfish
          sufferer. Their emotional awareness becomes pointed outward, and becomes
          a tool of connection rather than a component of their own misery.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>NIMBLENESS</u></strong></h3>
    <p><em>The practice of adaptability!</em></p>
    <p>
      Those who practice <strong>NIMBLENESS</strong> practice not just physical agility,
      but the agility of the mind. It it only through quickly pivoting and adapting
      to market conditions, that Lumon Industries may act as a living organism. We
      must never stagnate!
    </p>
    <blockquote>
      <p>
        It is through <strong>NIMBLENESS</strong> that <strong>FROLIC</strong> may
        be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>FROLIC</strong> spend their time developing
          the qualities of <strong>NIMBLENESS</strong> but end up wasting its benefits.
          Moving and pivoting quickly from bad choice to bad choice becomes the dance
          of a gawkish fool.</sub
        >
      </p>
      <p>
        <sub
          >In contrast, the thoughtful application of <strong>NIMBLENESS</strong
          > becomes the graceful pirouette of a prima ballerina.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>PROBITY</u></strong></h3>
    <p><em>The practice of principled action!</em></p>
    <p>
      Those who practice <strong>PROBITY</strong> practice an adherence to a code
      of ethics - specifically, Lumon&#x27;s code of ethics. <strong
        >PROBITY</strong
      > brings its own natural rewards, as only those with strong moral fiber can
      be entrusted with the future of our great corporate family.
    </p>
    <blockquote>
      <p>
        It is through <strong>PROBITY</strong> that <strong>DREAD</strong> may be
        tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>DREAD</strong> understand that a measure
          of their safety comes in the form of a code of conduct that reliably keeps
          them out of harms way. They understand that short-sighted, misguided deeds
          that cut corners or cheat systems always come with consequences.</sub
        >
      </p>
      <p>
        <sub
          >Consequences can be avoided if better choices are made to begin with.
          Following the rules, abiding by laws and a system of ethics that are
          designed to keep order and civility, paves the way to a prosperous
          life. However,
          <strong>DREAD</strong> itself is a cheat - and practicing <strong
            >PROBITY</strong
          > only to keep safe from chaos means when the right decision is no longer
          the safe decision, the wrong decision is made. Safety becomes your master,
          instead of righteousness.</sub
        >
      </p>
      <p>
        <sub
          >Practicing true <strong>PROBITY</strong> harnesses the power of good in
          all cases, regardless of your fears. This gives your fear less power.</sub
        >
      </p>
    </blockquote>
    <h3><strong><u>WILES</u></strong></h3>
    <p><em>The practice of cunning!</em></p>
    <p>
      Those who practice <strong>WILES</strong> practice winning stratagems, using
      all available means to succeed in a given task.
    </p>
    <blockquote>
      <p>
        It is through <strong>WILES</strong> that <strong>MALICE</strong> may be tamed.
      </p>
      <p>
        <sub
          >Those who indulge deeply in <strong>MALICE</strong> have the advantage
          of an evil spirit to hone their affinity towards manipulation and devious
          subterfuge. Those dedicated to taming their <strong>MALICE</strong>,
          soon learn that while their evil spirit must be purged, its fruits can
          be of use when repurposed for corporate success.</sub
        >
      </p>
      <p>
        <sub
          >Lumon Industries prides itself on the strategies we employ to succeed
          in business - and it is a result of the collective <strong
            >WILES</strong
          > of our employees that we have maintained our competitive advantage across
          every sector of commerce we better the world through.</sub
        >
      </p>
    </blockquote>
    <hr />
    <p>
      Keeping in mind this foundational understanding of <strong
        >The Four Tempers</strong
      > and <strong>The Core Principles</strong> - we can now move on to the document
      itself.
    </p>
    <p>Behold!</p>
    <h2>
      <strong>The Lumon Industries Employee Profile (LIEP)</strong>
    </h2>
    <figure>
      <img
        width="2000"
        height="2000"
        alt="embedded image"
        draggable="false"
        src="/assets/liep.png"
        title="Attachment"
      />
    </figure>
    <p>
      All new hires are required to complete their <strong>LIEP</strong> during their
      first week of employment on a severed floor.
    </p>
    <p>
      Upon request, additional support for form completion can be provided by
      the GM (General Manager) of said new hire.
    </p>
    <p>Let&#x27;s break down the components of the assessment.</p>
    <h3>LIEP Components</h3>
    <h4><strong>Svr&#x27;d Floor Employee</strong></h4>
    <p>
      Intended for entering the employee&#x27;s first name, following by their
      last initial.
    </p>
    <hr />
    <h4>Employee Code</h4>
    <p>
      All employees are assigned a five-digit employee code upon hiring. The
      format is two digits, followed by a dash, then three digits. If a new hire
      is unsure of their employee code, they must contact their GM promptly.
    </p>
    <hr />
    <h4>Department</h4>
    <p>
      A space to fill in the employee&#x27;s assigned department. Departmental
      assignment should be made known to a new hire no later than twenty-four
      hours within starting on a severed floor.
    </p>
    <p>
      Should a new hire be unaware of their assigned department by day two of
      employment, something has potentially gone wrong with the employee&#x27;s
      Severance Chip. The floor&#x27;s head of security must be contacted in
      this scenario, and all parties involved will then receive further
      instructions.
    </p>
    <hr />
    <h4>Title / Access Level</h4>
    <p>Please fill in the new hire&#x27;s severed floor job title.</p>
    <p>
      Most new hire&#x27;s fall under the &quot;Associate&quot; level, but in
      some rare cases and with the correct GM approval, a new hire may be
      brought in at a higher position.
    </p>
    <hr />
    <h4>Assessment of Corporate Persona</h4>
    <p>
      Please use this space to designate the <strong>Corporate Persona</strong> determined
      by our HRPE’s. More information on this evaluation can be found in the next
      section of this orientation guide, entitled &quot;<a
        href="/corporate-personas">Corporate Personas</a
      >&quot;.
    </p>
    <hr />
    <h4>Temper Analysis Chart</h4>
    <p>
      The <strong>Temper Analysis Chart</strong> lies just below where the <strong
        >Assessment of Corporate Persona</strong
      > is inscribed.
    </p>
    <p>
      Within this chart, new hires are assessed in regards to the precise ratio
      of <strong>The Four Tempers</strong> that reside within them.
    </p>
    <p>
      Based on initial temper scores set to either <strong
        ><u>8, 6, 4, or 2</u></strong
      > (each number must be only applied to one temper score), a certain number of
      &quot;<strong>Temper Points&quot;</strong> are derived for each Temper, <strong
        >equal to that temper score, divided by two, rounded down.</strong
      >
    </p>
    <p>
      In addition to these base scores, the total number of <strong
        >Temper Points</strong
      > are also partially derived from a new hire&#x27;s &quot;<strong
        >Corporate Persona</strong
      >&quot; - so please be sure to include that amount in the final <strong
        >Temper Points</strong
      > Calculation, once a <strong>Corporate Persona</strong> has been assessed.
    </p>
    <p>
      It may also become apparent through this evaluation of the new hire that
      certain <strong>Core Principles</strong> are already clearly part of the employee&#x27;s
      <strong>Core Competencies</strong>. Should this be the case, make sure to
      mark this using the checkbox next to the <strong>Core Principle</strong> that
      is also a <strong>Core Competency</strong>, as you should expect to see
      said employee carry out those specific principles with <strong
        >Confidence</strong
      >.
    </p>
    <div data-panel-type="info">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M12 16v-4"></path>
          <path d="M12 8h.01"></path>
        </svg>
      </div>
      <div id="confidence-vs-hesitance">
        <p><strong><u>Confidence Vs. Hesitance</u></strong></p>
        <p>
          The Confidence / Hesitance System in <a href="/table-of-contents"
            >Severed Story</a
          > sets up a boom or bust approach to certain rolls. Should you make a roll
          with <strong>Confidence</strong>, you roll using two d20&#x27;s, and
          use the higher of the two dice as the base result for your roll.
        </p>
        <p>
          Conversely, rolling with <strong>Hesitance</strong> requires you to roll
          two d20&#x27;s, and use the lower of the two dice as the base result for
          your roll.
        </p>
        <p>
          <strong
            >You still then add all applicable Temper, Kier, etc. points to your
            final roll outcome.</strong
          >
        </p>
      </div>
    </div>
    <p>
      Outside of <strong>Temper Scores</strong>, notating which <strong
        >Core Principles</strong
      > are also <strong>Core Competencies</strong>, and <strong
        >Temper Points</strong
      >, there are also <strong>Kier Points</strong> - a new behavioral incentive
      system being beta tested in various departments.
    </p>
    <p>
      <strong>Kier Points</strong> are awarded to employees by their GM upon successful
      completion of tasks, projects, and ordeals that benefit Lumon as a whole. They
      are also now directly correlated to our internal advancement system, so if you
      want a promotion, go and get some Kier Points!
    </p>
    <p>
      More information on <strong>Kier Points</strong> can be found in a later section
      of this guide.
    </p>
    <p>
      Unfortunately, this year&#x27;s <strong>LIEP</strong> document has a formatting
      issue which causes a significant amount of right-aligned empty space in the
      <strong>Temper Analysis Chart</strong>. As a result, we ask that
      Department Chiefs supervise new hires when first filling out this
      assessment, so that nothing is added in this empty space.
    </p>
    <p>
      We would have just printed new adjusted versions of this document, but
      someone apparently already printed thousands of copies of the assessment
      this year before going through a final review and revision process. As a
      cost savings measure, we felt it pertinent to trust our employees with the
      existing version of the assessment.
    </p>
    <div data-panel-type="note">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
          ></path>
          <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
        </svg>
      </div>
      <div>
        <p><em><strong>Dear Reader,</strong></em></p>
        <p>
          <em>It was me. I did that. And thus, I present to you:</em>
        </p>
        <p>
          <em
            ><strong>Ricken Points</strong> - The Counterweight to Kier Points. I&#x27;ve
            named this rules addendum after <a
              href="https://severance.wiki/ricken_hale"
              ><strong>Dr. Ricken Lazlo Hale, Ph.D</strong></a
            >, whose recent novel entitled <a
              href="https://severance.wiki/the_you_you_are_book"
              >&quot;The You You Are, A Spiritual Biography of You&quot;</a
            > has recently found purchase within a severed floor in <a
              href="https://severance.wiki/kier_pe">Kier, PE</a
            >.</em
          >
        </p>
        <p>
          <em
            >I and others believe its message to be a catalyst for innie
            revolution.</em
          >
        </p>
        <p>
          <em
            ><strong>Ricken Points</strong> are awarded to employees who take steps
            that successfully detriment Lumon Industries in some way. I&#x27;ve left
            a note that answers more questions around <strong
              >Ricken Points</strong
            > which can be found in a later section of this guide.</em
          >
        </p>
        <p><em><strong>Best regards,</strong></em></p>
        <p><em><strong>Concerned Citizen</strong></em></p>
      </div>
    </div>
    <hr />
    <h4>Assessment of Current Stress Levels</h4>
    <p>
      In this section, we find an assessment of an employee&#x27;s current
      stress levels - ranked from <strong>Outstanding</strong> to <strong
        >Terrible.</strong
      >
    </p>
    <p>
      Stress impacts every part of life - including a life at Lumon. Even the
      simplest of tasks can feel overwhelming when stress is mismanaged. We want
      employees and teams to address stressful situations before problems arise.
      To that end, HR has identified the solution: constant assessment.
    </p>
    <p>
      Generally speaking, stress impacts one&#x27;s ability to successfully take
      action. For the purposes of the <strong>LIEP</strong> document, we depict this
      condition as an increase in &quot;stress points&quot; incurred by an employee
      - one check filled in for each point of stress gained.
    </p>
    <p>
      Most stress is fleeting of course. As a result, one point of stress may be
      wiped clean from the document on a daily basis. The rejuvenation that
      comes with every morning&#x27;s re-entering onto the Lumon severed floor
      has been proven to have lasting effects on our employee&#x27;s sense of
      well being.
    </p>
    <p>
      Please note that assessing stress continually using your <strong
        >LIEP</strong
      > is required by all employees!
    </p>
    <hr />
    <h4>Stress Related Circumstances</h4>
    <p>
      Some forms of stress are significant enough to instead constitute as <strong
        >Problems</strong
      >, with a capital &quot;P&quot;. A <strong>Problem</strong> is a stress-inducing
      circumstance that cannot be resolved without intervention.
    </p>
    <p>
      A <strong>Problem</strong> can look like many things, such as tension between
      an employee and their manager, the fallout incurred from a missed deadline,
      or an inter-departmental grudge derived from a team mixer gone wrong.
    </p>
    <p>
      If a <strong>Problem</strong> is identified, write a &quot;P&quot; into the
      left-most stress checkbox in the <strong
        >Assessment of Current Stress Levels</strong
      > section. If a <strong>Serious Problem</strong> is identified, draw a circle
      around <strong>3</strong> of the left-most stress checkboxes, and notate them
      with &quot;SP&quot;.
    </p>
    <p>
      Should an employee already have any standard stress points, those points
      will need to be shifted over to the available stress checkboxes to the
      right of stress points derived from <strong
        >Problems / Serious Problems</strong
      >.
    </p>
    <p>
      Finally, make sure to also document in the <strong
        >Stress Related Circumstances</strong
      > section, the nature of the <strong>Problem</strong> or <strong
        >Serious Problem</strong
      >.
    </p>
    <p>
      To be clear, any stress derived from a <strong>Problem</strong> or <strong
        >Serious Problem</strong
      > cannot be wiped clean from the daily rejuvenation that comes from a work day
      transitioning into the next.
    </p>
    <p>
      <strong
        >Problems must be addressed and resolved before the stress they cause
        may be recovered.</strong
      >
    </p>
    <hr />
    <h4>Additional Notes</h4>
    <p>
      The <strong>Additional Notes</strong> section of the <strong
        >Lumon Industries Employee Profile</strong
      > is an exciting space for employees to express themselves, and also to notate
      things that might pertain to their daily work life.
    </p>
    <p>Types of information the Additional Notes section might include are:</p>
    <ul>
      <li>Personal goals</li>
      <li>Professional goals</li>
      <li>Important reminders</li>
      <li>A list of your favorite items and where you keep them</li>
      <li>Inspirational quotes</li>
      <li>A list of words you have heard, whose meaning you are unsure of</li>
      <li>Important dates</li>
      <li>Other important information</li>
    </ul>
    <hr />
    <p>
      Department Chiefs or GM&#x27;s are also encouraged to review their team
      member’s <strong>Employee Profile</strong>’s on a weekly basis, and write
      inspirational messages in the <strong>Additional Notes</strong> section!
    </p>
    <hr />
    <p>
      Thank you for taking the time to read through this chapter thoroughly.
      Next we will dive into the Lumon <a href="/corporate-personas"
        >Corporate Personas</a
      >, which will unveil a great amount of meaningful context into your life
      on our severed floor.
    </p>
    <hr />
  </div>
</ChapterLayout>
