---
import ChapterLayout from "../layouts/ChapterLayout.astro";
import Backlink from "../components/Backlink.astro";
---

<ChapterLayout title="Employee Profile">
  <div data-voice="orientation">
    <Backlink />
    <p>
      <span
        >Lumon Industries prides itself on hiring practices that are designed to
        accommodate all who seek to walk through our halls.</span
      >
    </p>
    <p>
      <span>To ensure we succeed in that endeavor, our </span><strong
        ><span>Human Resources Psychiatric Evaluators</span></strong
      ><span>
        (HRPE&#x27;s) have come up with a useful tool for categorizing employees
        based on the precise ratio of
      </span><strong><span>The Four Tempers</span></strong><span>
        that reside within a soul. We call this tool the
      </span><strong><span>Lumon Industries Employee Profile</span></strong
      ><span>
        (LIEP) - a document that helps provide answers to the question &quot;Who
        are you?&quot;.</span
      >
    </p>
    <p>
      <span
        >In order to understand the document, first you must understand
      </span><strong><span>The Four Tempers</span></strong><span>
        and Lumon&#x27;s
      </span><strong><span>Core Principles</span></strong><span>
        - the engine behind our assessment process.</span
      >
    </p>
    <h2><span>The Four Tempers</span></h2>
    <h3><strong><u><span>FROLIC</span></u></strong><span> (FC)</span></h3>
    <p><span>The disposition of hedonism and foolishness.</span></p>
    <h3><strong><u><span>MALICE</span></u></strong><span> (MA)</span></h3>
    <p><span>The disposition of evil desire and ill will.</span></p>
    <h3><strong><u><span>WOE</span></u></strong><span> (WO)</span></h3>
    <p><span>The disposition of distress and sorrow.</span></p>
    <h3><strong><u><span>DREAD</span></u></strong><span> (DR)</span></h3>
    <p><span>The disposition of fear and apprehension.</span></p>
    <hr />
    <p>
      <span>While it may sound from this reading of </span><strong
        ><span>The Four Tempers</span></strong
      ><span>
        as if Lumon believes all of humanity is rotten, fear not! Lumon is in
        the business of self-improvement. It is only by understanding our nature
        that we can overcome it, so that is what we do. We tame our tempers in
        order to better serve a higher purpose: industry.</span
      >
    </p>
    <p>
      <span
        >The primary way we do this is through the practice of our
      </span><strong><span>Core Principles</span></strong><span
        >. By internalizing and actively practicing the
      </span><strong><span>Lumon Core Principles</span></strong><span
        >, all of our tempers can be tamed and put to use.</span
      >
    </p>
    <p>
      <span>The </span><strong><span>Core Principles</span></strong><span>
        are as follows.
      </span>
    </p>
    <h2><span>The Core Principles</span></h2>
    <h3><strong><u><span>VISION</span></u></strong></h3>
    <p><em><span>The practice of insight and foresight!</span></em></p>
    <p>
      <span
        >Those who practice vision practice seeing both the bigger picture and
        the intentions of others.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>VISION </span></strong><span
          >that
        </span><strong><span>WOE </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>WOE</span></sub></strong
        ><sub
          ><span>
            spend their time regretting the past and considering the worst case
            scenarios that the future might bring.
          </span></sub
        ><strong><sub><span>VISION </span></sub></strong><sub
          ><span
            >makes use of that training, repurposing that energy of
            introspection and foresight which was previously spent negatively.
          </span></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>VERVE</span></u></strong></h3>
    <p><em><span>The practice of bold enthusiasm!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>VERVE</span></strong><span>
        practice putting a forceful energy into their work - turning ideas into
        vigorous action.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>VERVE </span></strong><span
          >that
        </span><strong><span>MALICE </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>MALICE </span></sub></strong
        ><sub
          ><span
            >spend their time developing a passionate fire in their hearts which
            fuels their evil works and deeds. To practice
          </span></sub
        ><strong><sub><span>VERVE </span></sub></strong><sub
          ><span>is to harness that fire for good.</span></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>WIT</span></u></strong></h3>
    <p><em><span>The practice of quick thinking! </span></em></p>
    <p>
      <span>Those who practice </span><strong><span>WIT</span></strong><span>
        practice sharp decision making, even when the stakes are high.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>WIT </span></strong><span
          >that
        </span><strong><span>DREAD </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>DREAD</span></sub></strong
        ><sub
          ><span>
            spend their time learning how to stay safe. The faster they can
            respond to their surroundings, the safer they become. This practice
            gives birth to
          </span></sub
        ><strong><sub><span>WIT</span></sub></strong><sub
          ><span
            >, which for those who still give power to their fear, is wasted on
            ghosts and apparitions. To practice
          </span></sub
        ><strong><sub><span>WIT</span></sub></strong><sub
          ><span>
            in spite of fear, is to harness that quick thinking for the
            righteous cause of something real: industry.</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>CHEER</span></u></strong></h3>
    <p><em><span>The practice of positivity and optimism!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>CHEER</span></strong><span>
        practice bringing positive energy and morale to those around them,
        despite the circumstances.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>CHEER </span></strong><span
          >that
        </span><strong><span>FROLIC </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>FROLIC </span></sub></strong
        ><sub
          ><span
            >spend their time throwing around half-hearted good will to all
            those who would accept it. Poorly directed
          </span></sub
        ><strong><sub><span>CHEER </span></sub></strong><sub
          ><span>is folly - spurring on good and evil men alike. </span></sub
        ><strong><sub><span>CHEER </span></sub></strong><sub
          ><span
            >practiced with purpose and discernment turns a fool into a catalyst
            for good!</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>HUMILITY</span></u></strong></h3>
    <p><em><span>The practice of modesty!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>HUMILITY </span></strong
      ><span
        >practice self-awareness that is free of ego, prioritizing the bigger
        picture over self interest.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>HUMILITY </span></strong><span
          >that
        </span><strong><span>WOE </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>WOE </span></sub></strong
        ><sub
          ><span
            >spend their time experiencing deep inward sorrow. This sorrow often
            leads to a degraded self-perception, as shame and guilt whittle away
            at their self-worth.</span
          ></sub
        >
      </p>
      <p>
        <sub
          ><span
            >Thinking less of yourself is not the same thing as thinking of
            yourself less. Practicing the latter is called
          </span></sub
        ><strong><sub><span>HUMILITY</span></sub></strong><sub
          ><span>. </span></sub
        >
      </p>
      <p>
        <sub><span>Those predisposed to </span></sub><strong
          ><sub><span>WOE </span></sub></strong
        ><sub
          ><span
            >are keenly fit to recover their self-worth, as they know how it was
            lost in the first place. Then, they learn to hold it with a loose
            grip. It is through this practice that freedom from pride is gained,
            self-worth is confirmed, and the greater good is put to the
            forefront of ones mind, benefiting all.</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>BENEVOLENCE</span></u></strong></h3>
    <p><em><span>The practice of kindness!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>BENEVOLENCE</span></strong
      ><span>
        practice the noble work of building bridges between people, connecting
        with and supporting those around themselves. It is only when people come
        together and work as one, that Lumon Industries can achieve the
        impossible!</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>BENEVOLENCE </span></strong
        ><span>that </span><strong><span>WOE </span></strong><span
          >may be tamed.</span
        >
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>WOE </span></sub></strong
        ><sub
          ><span
            >spend their time keenly acquainted with misfortune. Time spent with
            misfortune allows them to see its signs in others, which leads to
            the birth of empathy for those who are not too distracted by their
            own misfortune still.</span
          ></sub
        >
      </p>
      <p>
        <sub><span>Practicing </span></sub><strong
          ><sub><span>BENEVOLENCE </span></sub></strong
        ><sub
          ><span
            >rewires the inward-focused selfish sufferer. Their emotional
            awareness becomes pointed outward, and becomes a tool of connection
            rather than a component of their own misery.</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>NIMBLENESS</span></u></strong></h3>
    <p><em><span>The practice of adaptability!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>NIMBLENESS </span></strong
      ><span
        >practice not just physical agility, but the agility of the mind. It it
        only through quickly pivoting and adapting to market conditions, that
        Lumon Industries may act as a living organism. We must never stagnate!</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>NIMBLENESS </span></strong
        ><span>that </span><strong><span>FROLIC </span></strong><span
          >may be tamed.</span
        >
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>FROLIC </span></sub></strong
        ><sub><span>spend their time developing the qualities of </span></sub
        ><strong><sub><span>NIMBLENESS </span></sub></strong><sub
          ><span
            >but end up wasting its benefits. Moving and pivoting quickly from
            bad choice to bad choice becomes the dance of a gawkish fool.</span
          ></sub
        >
      </p>
      <p>
        <sub><span>In contrast, the thoughtful application of </span></sub
        ><strong><sub><span>NIMBLENESS </span></sub></strong><sub
          ><span>becomes the graceful pirouette of a prima ballerina.</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>PROBITY</span></u></strong></h3>
    <p><em><span>The practice of principled action!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>PROBITY </span></strong
      ><span
        >practice an adherence to a code of ethics - specifically, Lumon&#x27;s
        code of ethics.
      </span><strong><span>PROBITY </span></strong><span
        >brings its own natural rewards, as only those with strong moral fiber
        can be entrusted with the future of our great corporate family.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>PROBITY </span></strong><span
          >that
        </span><strong><span>DREAD </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>DREAD </span></sub></strong
        ><sub
          ><span
            >understand that a measure of their safety comes in the form of a
            code of conduct that reliably keeps them out of harms way. They
            understand that short-sighted, misguided deeds that cut corners or
            cheat systems always come with consequences.</span
          ></sub
        >
      </p>
      <p>
        <sub
          ><span
            >Consequences can be avoided if better choices are made to begin
            with. Following the rules, abiding by laws and a system of ethics
            that are designed to keep order and civility, paves the way to a
            prosperous life. However,
          </span></sub
        ><strong><sub><span>DREAD </span></sub></strong><sub
          ><span>itself is a cheat - and practicing </span></sub
        ><strong><sub><span>PROBITY </span></sub></strong><sub
          ><span
            >only to keep safe from chaos means when the right decision is no
            longer the safe decision, the wrong decision is made. Safety becomes
            your master, instead of righteousness.</span
          ></sub
        >
      </p>
      <p>
        <sub><span>Practicing true </span></sub><strong
          ><sub><span>PROBITY </span></sub></strong
        ><sub
          ><span
            >harnesses the power of good in all cases, regardless of your fears.
            This gives your fear less power.</span
          ></sub
        >
      </p>
    </blockquote>
    <h3><strong><u><span>WILES</span></u></strong></h3>
    <p><em><span>The practice of cunning!</span></em></p>
    <p>
      <span>Those who practice </span><strong><span>WILES </span></strong><span
        >practice winning stratagems, using all available means to succeed in a
        given task.</span
      >
    </p>
    <blockquote>
      <p>
        <span>It is through </span><strong><span>WILES </span></strong><span
          >that
        </span><strong><span>MALICE </span></strong><span>may be tamed.</span>
      </p>
      <p>
        <sub><span>Those who indulge deeply in </span></sub><strong
          ><sub><span>MALICE </span></sub></strong
        ><sub
          ><span
            >have the advantage of an evil spirit to hone their affinity towards
            manipulation and devious subterfuge. Those dedicated to taming their
          </span></sub
        ><strong><sub><span>MALICE</span></sub></strong><sub
          ><span
            >, soon learn that while their evil spirit must be purged, its
            fruits can be of use when repurposed for corporate success.</span
          ></sub
        >
      </p>
      <p>
        <sub
          ><span
            >Lumon Industries prides itself on the strategies we employ to
            succeed in business - and it is a result of the collective
          </span></sub
        ><strong><sub><span>WILES </span></sub></strong><sub
          ><span
            >of our employees that we have maintained our competitive advantage
            across every sector of commerce we better the world through.</span
          ></sub
        >
      </p>
    </blockquote>
    <hr />
    <p>
      <span>Keeping in mind this foundational understanding of </span><strong
        ><span>The Four Tempers</span></strong
      ><span> and </span><strong><span>The Core Principles</span></strong><span>
        - we can now move on to the document itself.</span
      >
    </p>
    <p><span>Behold!</span></p>
    <h2>
      <strong><span>The Lumon Industries Employee Profile (LIEP)</span></strong>
    </h2>
    <figure>
      <img
        width="2000"
        height="2000"
        alt="embedded image"
        draggable="false"
        src="/assets/liep.png"
        title="Attachment"
      />
    </figure>
    <p>
      <span>All new hires are required to complete their </span><strong
        ><span>LIEP</span></strong
      ><span> during their first week of employment on a severed floor. </span>
    </p>
    <p>
      <span
        >Upon request, additional support for form completion can be provided by
        the GM (General Manager) of said new hire.</span
      >
    </p>
    <p><span>Let&#x27;s break down the components of the assessment.</span></p>
    <h3><span>LIEP Components</span></h3>
    <h4><strong><span>Svr&#x27;d Floor Employee</span></strong></h4>
    <p>
      <span
        >Intended for entering the employee&#x27;s first name, following by
        their last initial.</span
      >
    </p>
    <hr />
    <h4><span>Employee Code</span></h4>
    <p>
      <span
        >All employees are assigned a five-digit employee code upon hiring. The
        format is two digits, followed by a dash, then three digits. If a new
        hire is unsure of their employee code, they must contact their GM
        promptly.</span
      >
    </p>
    <hr />
    <h4><span>Department</span></h4>
    <p>
      <span
        >A space to fill in the employee&#x27;s assigned department.
        Departmental assignment should be made known to a new hire no later than
        twenty-four hours within starting on a severed floor.</span
      >
    </p>
    <p>
      <span
        >Should a new hire be unaware of their assigned department by day two of
        employment, something has potentially gone wrong with the
        employee&#x27;s Severance Chip. The floor&#x27;s head of security must
        be contacted in this scenario, and all parties involved will then
        receive further instructions.</span
      >
    </p>
    <hr />
    <h4><span>Title / Access Level</span></h4>
    <p>
      <span>Please fill in the new hire&#x27;s severed floor job title.</span>
    </p>
    <p>
      <span
        >Most new hire&#x27;s fall under the &quot;Associate&quot; level, but in
        some rare cases and with the correct GM approval, a new hire may be
        brought in at a higher position.</span
      >
    </p>
    <hr />
    <h4><span>Assessment of Corporate Persona</span></h4>
    <p>
      <span>Please use this space to designate the </span><strong
        ><span>Corporate Persona</span></strong
      ><span>
        determined by our HRPE’s. More information on this evaluation can be
        found in the next section of this orientation guide, entitled &quot;</span
      ><a href="/corporate-personas">Corporate Personas</a><span>&quot;.</span>
    </p>
    <hr />
    <h4><span>Temper Analysis Chart</span></h4>
    <p>
      <span>The </span><strong><span>Temper Analysis Chart</span></strong><span>
        lies just below where the
      </span><strong><span>Assessment of Corporate Persona</span></strong><span>
        is inscribed.</span
      >
    </p>
    <p>
      <span
        >Within this chart, new hires are assessed in regards to the precise
        ratio of
      </span><strong><span>The Four Tempers</span></strong><span>
        that reside within them.</span
      >
    </p>
    <p>
      <span>Based on initial temper scores set to either </span><strong
        ><u><span>8, 6, 4, or 2</span></u></strong
      ><span>
        (each number must be only applied to one temper score), a certain number
        of &quot;</span
      ><strong><span>Temper Points&quot;</span></strong><span>
        are derived for each Temper,
      </span><strong
        ><span>equal to that temper score, divided by two, rounded down.</span
        ></strong
      >
    </p>
    <p>
      <span>In addition to these base scores, the total number of </span><strong
        ><span>Temper Points</span></strong
      ><span>
        are also partially derived from a new hire&#x27;s &quot;</span
      ><strong><span>Corporate Persona</span></strong><span
        >&quot; - so please be sure to include that amount in the final
      </span><strong><span>Temper Points</span></strong><span>
        Calculation, once a
      </span><strong><span>Corporate Persona</span></strong><span>
        has been assessed.</span
      >
    </p>
    <p>
      <span
        >It may also become apparent through this evaluation of the new hire
        that certain
      </span><strong><span>Core Principles</span></strong><span>
        are already clearly part of the employee&#x27;s
      </span><strong><span>Core Competencies</span></strong><span
        >. Should this be the case, make sure to mark this using the checkbox
        next to the
      </span><strong><span>Core Principle</span></strong><span>
        that is also a
      </span><strong><span>Core Competency</span></strong><span
        >, as you should expect to see said employee carry out those specific
        principles with
      </span><strong><span>Confidence</span></strong><span>.</span>
    </p>
    <div data-panel-type="info">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="12" cy="12" r="10"></circle>
          <path d="M12 16v-4"></path>
          <path d="M12 8h.01"></path>
        </svg>
      </div>
      <div>
        <p><strong><u><span>Confidence Vs. Hesitance</span></u></strong></p>
        <p>
          <span>The Confidence / Hesitance System in </span><a
            href="/table-of-contents">A Severed Story</a
          ><span>
            sets up a boom or bust approach to certain rolls. Should you make a
            roll with
          </span><strong><span>Confidence</span></strong><span
            >, you roll using two d20&#x27;s, and use the higher of the two dice
            as the base result for your roll.</span
          >
        </p>
        <p>
          <span>Conversely, rolling with </span><strong
            ><span>Hesitance </span></strong
          ><span
            >requires you to roll two d20&#x27;s, and use the lower of the two
            dice as the base result for your roll.
          </span>
        </p>
        <p>
          <strong
            ><span
              >You still then add all applicable Temper, Kier, etc. points to
              your final roll outcome.</span
            ></strong
          >
        </p>
      </div>
    </div>
    <p>
      <span>Outside of </span><strong><span>Temper Scores</span></strong><span
        >, notating which
      </span><strong><span>Core Principles</span></strong><span>
        are also
      </span><strong><span>Core Competencies</span></strong><span
        >, and
      </span><strong><span>Temper Points</span></strong><span
        >, there are also
      </span><strong><span>Kier Points</span></strong><span>
        - a new behavioral incentive system being beta tested in various
        departments.</span
      >
    </p>
    <p>
      <strong><span>Kier Points</span></strong><span>
        are awarded to employees by their GM upon successful completion of
        tasks, projects, and ordeals that benefit Lumon as a whole. They are
        also now directly correlated to our internal advancement system, so if
        you want a promotion, go and get some Kier Points!</span
      >
    </p>
    <p>
      <span>More information on </span><strong><span>Kier Points</span></strong
      ><span> can be found in a later section of this guide.</span>
    </p>
    <p>
      <span>Unfortunately, this year&#x27;s</span><strong
        ><span> LIEP</span></strong
      ><span>
        document has a formatting issue which causes a significant amount of
        right-aligned empty space in the
      </span><strong><span>Temper Analysis Chart</span></strong><span
        >. As a result, we ask that Department Chiefs supervise new hires when
        first filling out this assessment, so that nothing is added in this
        empty space.</span
      >
    </p>
    <p>
      <span
        >We would have just printed new adjusted versions of this document, but
        someone apparently already printed thousands of copies of the assessment
        this year before going through a final review and revision process. As a
        cost savings measure, we felt it pertinent to trust our employees with
        the existing version of the assessment.</span
      >
    </p>
    <div data-panel-type="note">
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"
          ></path>
          <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
        </svg>
      </div>
      <div>
        <p><em><strong><span>Dear Reader,</span></strong></em></p>
        <p>
          <em
            ><span>It was me. I did that. And thus, I present to you:</span></em
          >
        </p>
        <p>
          <em><strong><span>Ricken Points</span></strong></em><em
            ><span>
              - The Counterweight to Kier Points. I&#x27;ve named this rules
              addendum after
            </span></em
          ><a href="https://severance.wiki/ricken_hale"
            ><em><strong><span>Dr. Ricken Lazlo Hale, Ph.D</span></strong></em
            ></a
          ><em><span>, whose recent novel entitled </span></em><a
            href="https://severance.wiki/the_you_you_are_book"
            ><em
              ><span
                >&quot;The You You Are, A Spiritual Biography of You&quot;</span
              ></em
            ></a
          ><em
            ><span>
              has recently found purchase within a severed floor in
            </span></em
          ><a href="https://severance.wiki/kier_pe"
            ><em><span>Kier, PE</span></em></a
          ><em><span>.</span></em>
        </p>
        <p>
          <em
            ><span
              >I and others believe its message to be a catalyst for innie
              revolution.</span
            ></em
          >
        </p>
        <p>
          <em><strong><span>Ricken Points</span></strong></em><em
            ><span>
              are awarded to employees who take steps that successfully
              detriment Lumon Industries in some way. I&#x27;ve left a note that
              answers more questions around
            </span></em
          ><em><strong><span>Ricken Points</span></strong></em><em
            ><span>
              which can be found in a later section of this guide.</span
            ></em
          >
        </p>
        <p><em><strong><span>Best regards,</span></strong></em></p>
        <p><em><strong><span>Concerned Citizen</span></strong></em></p>
      </div>
    </div>
    <hr />
    <h4><span>Assessment of Current Stress Levels</span></h4>
    <p>
      <span
        >In this section, we find an assessment of an employee&#x27;s current
        stress levels - ranked from
      </span><strong><span>Outstanding </span></strong><span>to </span><strong
        ><span>Terrible. </span></strong
      >
    </p>
    <p>
      <span
        >Stress impacts every part of life - including a life at Lumon. Even the
        simplest of tasks can feel overwhelming when stress is mismanaged. We
        want employees and teams to address stressful situations before problems
        arise. To that end, HR has identified the solution: constant assessment.</span
      >
    </p>
    <p>
      <span
        >Generally speaking, stress impacts one&#x27;s ability to successfully
        take action. For the purposes of the
      </span><strong><span>LIEP</span></strong><span>
        document, we depict this condition as an increase in &quot;stress
        points&quot; incurred by an employee - one check filled in for each
        point of stress gained.
      </span>
    </p>
    <p>
      <span
        >Most stress is fleeting of course. As a result, one point of stress may
        be wiped clean from the document on a daily basis. The rejuvenation that
        comes with every morning&#x27;s re-entering onto the Lumon severed floor
        has been proven to have lasting effects on our employee&#x27;s sense of
        well being.</span
      >
    </p>
    <p>
      <span
        >Please note that assessing stress continually using your
      </span><strong><span>LIEP</span></strong><span>
        is required by all employees!</span
      >
    </p>
    <hr />
    <h4><span>Stress Related Circumstances</span></h4>
    <p>
      <span
        >Some forms of stress are significant enough to instead constitute as
      </span><strong><span>Problems</span></strong><span
        >, with a capital &quot;P&quot;. A
      </span><strong><span>Problem</span></strong><span>
        is a stress-inducing circumstance that cannot be resolved without
        intervention.</span
      >
    </p>
    <p>
      <span>A </span><strong><span>Problem </span></strong><span
        >can look like many things, such as tension between an employee and
        their manager, the fallout incurred from a missed deadline, or an
        inter-departmental grudge derived from a team mixer gone wrong.</span
      >
    </p>
    <p>
      <span>If a </span><strong><span>Problem</span></strong><span>
        is identified, write a &quot;P&quot; into the left-most stress checkbox
        in the
      </span><strong><span>Assessment of Current Stress Levels</span></strong
      ><span> section. If a </span><strong><span>Serious Problem</span></strong
      ><span> is identified, draw a circle around </span><strong
        ><span>3</span></strong
      ><span>
        of the left-most stress checkboxes, and notate them with &quot;SP&quot;.
      </span>
    </p>
    <p>
      <span
        >Should an employee already have any standard stress points, those
        points will need to be shifted over to the available stress checkboxes
        to the right of stress points derived from
      </span><strong><span>Problems / Serious Problems</span></strong><span
        >.</span
      >
    </p>
    <p>
      <span>Finally, make sure to also document in the</span><strong
        ><span> Stress Related Circumstances </span></strong
      ><span>section, the nature of the </span><strong
        ><span>Problem </span></strong
      ><span>or</span><strong><span> Serious Problem</span></strong><span
        >.</span
      >
    </p>
    <p>
      <span>To be clear, any stress derived from a </span><strong
        ><span>Problem </span></strong
      ><span>or</span><strong><span> Serious Problem </span></strong><span
        >cannot be wiped clean from the daily rejuvenation that comes from a
        work day transitioning into the next.</span
      >
    </p>
    <p>
      <strong
        ><span
          >Problems must be addressed and resolved before the stress they cause
          may be recovered.</span
        ></strong
      >
    </p>
    <hr />
    <h4><span>Additional Notes</span></h4>
    <p>
      <span>The </span><strong><span>Additional Notes</span></strong><span>
        section of the
      </span><strong><span>Lumon Industries Employee Profile</span></strong
      ><span>
        is an exciting space for employees to express themselves, and also to
        notate things that might pertain to their daily work life.</span
      >
    </p>
    <p>
      <span
        >Department Chiefs or GM&#x27;s are also encouraged to review their team
        member’s
      </span><strong><span>Employee Profile</span></strong><span
        >’s on a weekly basis, and write inspirational messages in the
      </span><strong><span>Additional Notes</span></strong><span>
        section!</span
      >
    </p>
    <hr />
    <p style="margin-top: 4rem">
      <span
        >Thank you for taking the time to read through this chapter thoroughly.
        Next we will dive into the Lumon
      </span><a href="/corporate-personas">Corporate Personas</a><span
        >, which will unveil much meaningful context into your life on our
        severed floor.</span
      >
    </p>
  </div>
</ChapterLayout>
