---
import ChapterLayout from '../layouts/ChapterLayout.astro';
import BinderHoles from '../components/BinderHoles.astro';
import Backlink from '../components/Backlink.astro';
---

<ChapterLayout title="Preamble" headVoice="publisher">
        <div data-voice="publisher">
        <BinderHoles />
        <Backlink />
        <hr />
        <hr />
        <p><span>In recent months, controversy has sparked across </span><a
            href="https://severance.wiki/kier_pe"><span>Kier</span></a><span> and beyond concerning the ethical
            treatment of severed employees at </span><a
            href="https://severance.wiki/lumon_industries"><span>Lumon Industries</span></a><span>.</span></p>
        <p><span>We find these allegations most disturbing, and we take them seriously. </span>
        </p>
        <p><span>We care too much for our </span><a
            href="https://severance.wiki/lumon_industries"><span>Lumon</span></a><span> family members to allow
            mistreatment to go unmediated. So, rest assured that </span><a
            href="https://severance.wiki/lumon_industries"><span>Lumon</span></a><span> henceforth commits to new
            degrees of transparency that will give &quot;innies&quot; a greater voice which can be heard. In tandem, we
            commit to giving &quot;outies&quot; a more clear glimpse into the life and treatment of their counterparts.
          </span></p>
        <p><span>This leads us to the purpose of this document.</span></p>
        <p><span>We begin with a simple question: </span><strong><span>what is it like to be an
              &quot;innie&quot;? </span></strong></p>
        <p><span>We want to show you.</span></p>
        <p><span>This of course could be shown with photos, videos, the written word, etc. - but
            these second-hand glimpses are much different compared to </span><strong><span>experiencing it for
              yourself.</span></strong></p>
        <p><span>You might then ask: how can anyone experience being an &quot;innie&quot;? Even
            our severed employees have no recollection of the experience. The answer: after months of research and
            development, </span><a
            href="https://severance.wiki/lumon_industries"><span>Lumon</span></a><span>&#x27;s Public Relations
            department has come up with delightful solution that utilizes the power of play and imagination.</span></p>
        <p><span>Welcome to </span><a href="/a-severed-story">A Severed
            Story</a><span> - a light-hearted role-playing game system for describing the wonders of &quot;innie&quot;
            life within the walls of </span><a
            href="https://severance.wiki/lumon_industries"><span>Lumon</span></a><span>! In this document you will find
            rules and regulations to aid you in the accurate simulation of the innie experience.</span></p>
        <p><span>So read on loyal customers and prospective employees! We hope the stories you
            live out will open your eyes to the joys of severed life.</span></p>
        <hr />
        <div data-panel-type="note">
          <div><svg
              xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path>
              <path d="M14 2v4a2 2 0 0 0 2 2h4"></path>
            </svg> </div>
          <div>
            <p><em><strong><span>Dear reader,</span></strong></em></p>
            <p><em><span>Within the walls of this document you will find many half truths, and
                  many whole lies.</span></em></p>
            <p><em><span>Over the last decade, I have worked closely with a number of real life
                  &quot;innies&quot; in an undercover capacity. I know first-hand that not all is as it seems within
                  Lumon Industries. While yes, there is the potential for a life to be had there, it often turns ugly -
                  even torturous.</span></em></p>
            <p><em><span>As you continue reading this &quot;rules document&quot;, please look
                  for the notes I&#x27;ve left behind within the pages. I&#x27;ve risked my safety to desecrate as many
                  copies of </span></em><a href="/a-severed-story">A Severed Story</a><em><span>
                  that I could get my hands on. My goal is to essentially augment the rules of this so-called
                  &quot;game&quot; so as to reveal what life at Lumon is truly like.</span></em></p>
            <p><em><span>Don&#x27;t be fooled by this propaganda. Look for my notes.</span></em>
            </p>
            <p><em><strong><span>Best regards,</span></strong></em></p>
            <p><em><strong><span>Concerned Citizen</span></strong></em></p>
          </div>
        </div>
        </div>
        <p></p>
</ChapterLayout>
