---
import ChapterLayout from "../layouts/ChapterLayout.astro";
---

<ChapterLayout title="Suggested Motivational Quotes">
  <blockquote>
    <p>
      <em
        >&quot;Be content in my words and dally not in the scholastic pursuits
        of lesser men.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Illumination beyond all. Feel the warm embrace of knowledge and
        truth that we may be true partners in Kier's teachings.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Romantic love may burn with a more luminous flame, but it is gone
        far more quickly than corporate affection, which persists even through
        generations.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;He tamed the temper of woe in himself, allowing for his
        competence to flourish and expand.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Such is the process of learning to infuse love into labor.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p><em>&quot;Service is work combined with love.&quot;</em></p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;As with any of the four tempers, the problem is not the existence
        of the quality in the man, but the rampant growth and expansion which
        results from allowing it to exist untamed.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;In the man with too much frolic, this may lead to unhealthy
        lifestyle motions, such as becoming an actor or a flautist, or the
        adoption of an irresponsible hairstyle.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Excessive dread may lead a man to remain in his house mewling
        over imagined threats, or to kill his wife out of a crushing terror that
        she will do the same to him.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Woe may lead that same man to dress all in black and mope about
        his town, moving as a shadow across the sunnier lives of his friends and
        colleagues.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;But a man who has tamed his tempers, who has brought them into
        balance with each other, finds on the other side of the struggle a holy
        sense of quiet.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;But whatever your task, dear worker, see that you perform it with
        love.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;Endow in each swing of your axe or swipe of your pen the sum of
        your affections, that through me they may be purified and returned. No
        higher purpose may be found than this. Nor any higher love.&quot;</em
      >
    </p>
  </blockquote>
  <blockquote>
    <p>
      <em
        >&quot;No monetary wage that I may give you can surmount the benefit of
        the pure love which can only exist between a worker and his employer.</em
      >
    </p>
  </blockquote>
</ChapterLayout>
