---
// The "return to contents" courtesy line. Authored as the FIRST child of a
// page's first [data-voice] region so it inherits that region's material
// (lumon.js used to relocate a stray grey <p> here at runtime; now it's just
// part of the markup). Styled by `[data-voice] [data-backlink]` in lumon.css.
---

<p data-backlink>
  <span>&#8592; Return to </span><a href="/a-severed-story">A Severed Story</a><span> &middot; Table of Contents</span>
</p>
