---
// Three punched binder holes, sticky to the left margin of a Publisher region.
// Drop this as the FIRST child of each `[data-voice="publisher"]` block.
// (lumon.js used to inject these into every Publisher region at runtime.)
// Styled by `.binder` in lumon.css.
---

<div class="binder" aria-hidden="true"><i></i><i></i><i></i></div>
